<spinner *ngIf="loading"></spinner>

<div class="container-fluid scrollbar" id="fluid-scroll" style="margin: 5% 0% 0% 0%">
  <div class="force-overflow">
    <div class="row">
      <img src="../assets/images/wc_icon.png" class="pull-right wc_icon" alt="Word cloud" data-toggle="modal" data-target="#myModal" (click)="wordCloudView('sea')"/>
      <label>Sentiment Analysis</label>
      <div class="col-md-12 col-lg-12">
        <div class="col-md-5 col-lg-5">
          <div class="card">
            <gauge-chart *ngIf="gaugeData" [gaugeDataInput]='gaugeData'></gauge-chart>
          </div>
        </div>
        <div class="col-md-7 col-lg-7">
          <div class="card">
            <line-chart *ngIf="seaLineData" [lineDataInput]='seaLineData' [config]='lineConfig'></line-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 2%">
      <img src="../assets/images/wc_icon.png" class="pull-right wc_icon" alt="Word cloud" data-toggle="modal" data-target="#myModal" (click)="wordCloudView('spam')"/>
      <label>Spams</label>
      <div class="col-md-12 col-lg-12">
        <div class="col-md-5 col-lg-5">
          <div class="card">
            <stackbar-chart *ngIf="spamStackData" [stcakDataInput]='spamStackData'></stackbar-chart>
          </div>
        </div>
        <div class="col-md-7 col-lg-7">
          <div class="card">
            <line-chart *ngIf="spamLineData" [lineDataInput]='spamLineData' [config]='lineConfig'></line-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:2%">
      <img src="../assets/images/wc_icon.png" class="pull-right wc_icon" alt="Word cloud" data-toggle="modal" data-target="#myModal" (click)="wordCloudView('info')"/>
      <label>Info Security</label>
      <div class="col-md-12 col-lg-12">
        <div class="col-md-5 col-lg-5">
          <div class="card">
            <stackbar-chart *ngIf="infosecStackData" [stcakDataInput]='infosecStackData'></stackbar-chart>
          </div>
        </div>
        <div class="col-md-7 col-lg-7">
          <div class="card">
            <line-chart *ngIf="infoLineData" [lineDataInput]='infoLineData' [config]='lineConfig'></line-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Word Cloud</h4>
        </div>
        <div class="modal-body" *ngIf="isseaImage">
          <div class="row">
            <div class="col-md-6">
              <h4>Positive</h4>
            <img src="../../../../assets/images/pos_sea_tfid.png" alt="Image" width="270px" height="300px"/>
            </div>
            <div class="col-md-6">
              <h4>Negative</h4>
            <img src="../../../../assets/images/neg_sea_tfid.png" alt="Image" width="270px" height="300px"/>
            </div>
          </div>
        </div>        
        <div class="modal-body" *ngIf="isspamImage">
            <h4>Spam</h4>
            <img src="../../../../assets/images/spam_test_tfid.png" alt="Image" width="500px" height="300px"/>
        </div> 
        <div class="modal-body" *ngIf="isinfoImage">
            <h4>Infosec</h4>
            <img src="../../../../assets/images/infosec_test_tfid.png" alt="Image" width="500px" height="300px"/>
        </div> 
      </div>
    </div>
  </div>
