<spinner *ngIf="loading"></spinner>
<div class="shareduiForm">
  <div class="row">
    <ul class="nav nav-tabs">
      <!-- <li ><a data-toggle="tab" href="#freetext" (click)='defaultDisable("freetext")'>Free Text</a></li> -->
      <li class="active"><a data-toggle="tab" href="#documents" (click)='defaultDisable("documents")'>OCR</a></li>
      <!-- <li><a data-toggle="tab" href="#archieve" (click)='defaultDisable("archieve")'>Multi-Angle</a></li> -->
      <li><a data-toggle="tab" href="#objdetection" (click)='defaultDisable("objdetection")'>Object Detection</a></li>
    </ul>

    <div class="tab-content">
      <div id="freetext" class="tab-pane fade">
        <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Enter text to be
            analysed:</label></div>
        <textarea rows="10" name="content" class="form-control" [(ngModel)]='freeText'
          style="margin-left: 2px;width: 100%" (keyup)='restrict($event)'></textarea>
      </div>
      <!--OCR tab content-->
      <div id="documents" class="tab-pane fade in active">
        <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Upload the image
            file:</label></div>

        <div class="form-group">
          <input type="file" #myInput name="fileArchive" class="form-control" style="margin-left: -1px;width: 100%"
            (change)='convertFile($event)' required />
        </div>
      </div>
      <!--Multi Angle tab-content-->
      <div id="archieve" class="tab-pane fade">
        <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Upload the image
            file:</label></div>
        <div class="form-group">
          <input type="file" #csvInput class="form-control" style="margin-left: -1px;width: 100%"
            (change)='convertFile($event)'accept=".png, .PNG, .jpg" required />
        </div>
      </div>
      <!--Object Detection tab-content-->
      <div id="objdetection" class="tab-pane fade">
        <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Upload the image
            file:</label></div>
        <div class="form-group">
          <input type="file" #objectInput class="form-control" style="margin-left: -1px;width: 100%"
            (change)='convertObjFile($event)' accept=".png, .PNG, jpeg, .jpg" required />
        </div>
        <label class="radio-inline">
          <input type="radio" name="objtype" (click)="getObjectAnalyzer('General_Object')" [checked] ="objAnalyzer === 'General_Object'">General Object
        </label>
        <label class="radio-inline">
          <input type="radio" name="objtype" (click)="getObjectAnalyzer('Logo')" [checked] ="objAnalyzer === 'Logo'">Logo
        </label>
        <label class="radio-inline">
          <input type="radio" name="objtype" (click)="getObjectAnalyzer('Signature')" [checked] ="objAnalyzer === 'Signature'">Signature
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-10" *ngIf="isOCR">
    <div class="box-header with-border">
      <div class="form-group row">

        <div class="col-sm-6 col-md-2 float-left" style="padding: 0px 0px; margin-top: 0.5rem;"><label
            class="panel-header" for="content">Preprocessing:
          </label></div>
        <div class="col-sm-6 col-md-4">
          <select id="preProcessingDropDown" class="hideLabel form-control" name="preItem" #preProcessingDropDown
            (change)="selectPreprocessing($event);">
            <option ng-option value="">Select Preprocessing</option>
            <option [ngValue]="p" *ngFor="let p of preProcessingItems">
              {{p}}
            </option>
          </select>
        </div>
        <div class="col-sm-8 col-md-2 float-left" style="padding: 0px 0px; margin-top: 0.5rem;"><label
            class="panel-header" for="content">Report Type:
          </label></div>

        <div class="col-sm-8 col-md-4">
          <div class="row ">
            <div class="col-md-9">
              <select id="docTypeDropDown" #docTypeDropDown class="hideLabel form-control float-left;width: 130px;"
                style="display: inline-block" name="reportItem" (change)="selectReportType($event);">
                <option ng-option value="">Select Report</option>
                <option [ngValue]="p.value" [disabled]="p.value === false" *ngFor="let p of reportTypeItems">
                  {{p.id}}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <button class="pull-right" name="infosec" id="infosec" type="button"
                style="width: 150px; display: inline-block" class="btn btn-default pull-left display:inline-block"
                (click)='downloadReport("fileName")'>Download Report</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <input type="checkbox" [ngModel]="filter" (ngModelChange)="onCheckChange($event)" style="width: 20px;height: 15px;margin-bottom: 20px;"> Raw Data<br> -->
  </div>

  <div style="margin: 2% 5% 0% -1%" class="row" *ngIf='isCSVDisable'>
    <button name="Extract" id="Extract" type="button" style="width: 100px;margin-left: 10px" class="btn btn-default"
      (click)='analysis("documents")'>Extract</button>
    <button name="infosec" id="infosec" type="button" style="width: 100px;margin-left: 10px" class="btn btn-default"
      (click)='clear()'>Reset</button>

  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- <label style="margin-left: 400px;" class="panel-header" for="content">
        Extracted content:</label> -->
    </div>
    <div class="col-md-6">
      <label class="panel-header" for="content"> Image in the file:</label>
      <!-- {{extractedContent}} -->
      <div *ngIf="extractedContent">
        <img [src]="extractedContent" width='350px' height='215px' alt="" />
      </div>
    </div>

    <div class="col-md-6">
      <label class="panel-header" for="content"> Result:</label>
      <!-- <textarea rows="10" class="form-control" style="width: 30vw;background-color:white;" readonly
        [(ngModel)]='extractedText'></textarea> -->

      <div *ngIf="!croppedContent && !objectText" class="description-box">
        {{extractedText}}
      </div>

      <div *ngIf="croppedContent" class="description-box">
        <span *ngFor="let obj of croppedContent">
          <img [src]="obj.img_path" width='150px' height='75px' alt='' /><br/>
        </span>
      </div>

      <div *ngIf="objectText" class="description-box">
        <span  *ngFor="let obj of objectText">
          <span>{{obj.object}} - {{obj.confidence}}</span><br/>
        </span>
      </div>
    </div>
  </div>


  <!-- <div class="row" style="margin: 2% 0% 0% -3%" *ngIf='isCSVDisable'>
    <div class="col-md-11">
      <p class="panel-footer" id="status">{{ result }}</p>
    </div>
    <div class="col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
      <button type="button" (click)='clear()' class="btn btn-sm btn-primary" [disabled]='btnClear'>
        Clear</button>
    </div>
  </div> -->

  <!-- <div class="row" style="margin: 2% 0% 0% -3%" *ngIf='!isCSVDisable'>
    <div class="col-md-10"></div>
    <div class="pull-left col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
        <button type="button" class="btn btn-sm btn-primary" (click)='analysis("csv")' [disabled]='btnClear'>
          Analyze</button>
      </div>
    <div class="pull-right col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
      <button type="button" (click)='clear()' class="btn btn-sm btn-primary" [disabled]='btnClear'>
        Clear</button>
    </div>
  </div> -->

</div>