<spinner *ngIf="loading"></spinner>
<div class="shareduiForm">
    <form #freeTextForm="ngForm">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12"><label class="panel-header" for="content">Enter text to be analysed:</label></div>
      <div class="col-md-12"></div>
        <textarea rows="10" name="content" class="form-control" [(ngModel)]='freeText' 
        style="margin-left: 10px;width: 100%" #content="ngModel"  required></textarea>
        <span [hidden]="(content.valid || content.pristine)">
            <span *ngIf="(content.errors?.required)" class="red">
              Please type a text
            </span>
        </span>
    </div>
  </div>
  <div style="margin: 2% 0% 0% 2%" class="row" *ngIf='analytics'>
        <button name="spam" id="spam" type="button" style="width: 100px;" class="btn btn-default" disabled>Spam</button>
        <button name="infosec" id="infosec" type="button" style="width: 100px;" class="btn btn-default" disabled>Threat</button>
        <button type="button" name="sentiment" id="sentiment" style="width: 100px;" class="btn btn-default" disabled>Sentiment</button>
      </div>
  <div class="row" style="margin: 2% 0% 0% 0%">
      <div class="col-md-9">
        <p class="panel-footer" id="status">{{ result }}</p>
      </div>
      <div class="pull-left col-md-2" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
        <button type="button" id="clear" [disabled]="(!freeTextForm.form.valid)" 
        class="btn btn-sm btn-primary" (click)='analyse()'>
          Analyse</button>
      </div>
      <div class="pull-right col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
        <button type="button" id="clear" [disabled]="(!freeTextForm.form.valid)" 
        class="btn btn-sm btn-primary" (click)='clear()'>
          Clear</button>
      </div>
    </div>
    </form>
</div>

