<div *ngFor="let low of gauge;let i = index;">
  <div attr.id="gauge-chart-{{i}}" style="padding: 10% 0% 0% 18%;">
      <svg></svg>
      <div class="row" style = "margin:10% 0% 9% -5%;">
              <div class="col-md-12" style="font-size:10px;">
                      <div class="col-md-6 col-xs-4">
                        <div class="rectangle-mediumorchid" style="margin-left: 1%;">
                            <span style="padding: 17px;white-space: nowrap;color:#898a8d;font-family:Poppins, sans-serif !important;font-size: 12px;">+ve : {{low.pv}}%</span>
                        </div>
                        <div class="rectangle-dodgerblue" style="margin-left: 50%;">
                          <span style="padding: 17px;white-space: nowrap;color:#898a8d;font-family:Poppins, sans-serif !important;font-size: 12px;">-ve : {{low.nv}}%</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-4">
                        <div class="rectangle-darkturquoise" style="margin-left: 1%;margin-top: 3%;">
                            <span style="padding: 17px;white-space: nowrap;color:#898a8d;font-family:Poppins, sans-serif !important;font-size: 12px;">Neutral : {{low.nu}}%</span>
                        </div>
                    </div>
                </div>
      </div>  
  </div>
</div>
