/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeicons/primeicons.css";
body{
    overflow: hidden;
    background-color: #1e1e2b;
}

.red{
    color: red;
}
.shareduiForm {
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    margin-top: 70px !important;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
    width: 70%;
}

.btn-default:hover {
    color: white;
    background-color: #412143;
    border-color: #412143;
}

/* ::-webkit-scrollbar{
    display: none;
} */
.scrollbar
{
    float: left;
    /* height: -webkit-fill-available; */
    height: 540px;
    /* min-height: 540px; */
    /* max-height: 1000px; */
    width: 100%;
    overflow-y: scroll;
}

/*
* fluid-scroll
*/

#fluid-scroll::-webkit-scrollbar-track
{
    background-color: #1e1e2b;
    border-radius: 10px;
}

#fluid-scroll::-webkit-scrollbar
{
    width: 10px;
    background-color: #1e1e2b;
}

#fluid-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: linear-gradient(to right, #412143, #8647e4c4);
}

#fluid-scroll::-webkit-scrollbar-thumb:hover
{
    background-image: linear-gradient(to right, #8028aa, #8647e4c4);
}

.description-box {
    overflow: auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: .5rem;
    padding: 1rem;
    height: 21.5rem;
    max-height: 21.5rem;
}

.cursor {
    cursor: pointer;
}